In [153]:
import sys
sys.path.append('..')

In [154]:
import pandas as pd
from ToolsLoanCalculator import LoanCalculator

In [155]:
import numpy as np

In [156]:
zopa_data = pd.read_csv("../Data/ZopaData.csv")

In [157]:
LoanCalculator.test(9)

This is the number: 9

18

In [158]:
zopa_data = zopa_data.rename(columns=zopa_data.iloc[0])

In [168]:
zopa_data = zopa_data.drop(columns = 14.000)

In [170]:
zopa_data = zopa_data.rename(columns = {0.075: "Rate", 640.000: "Available"})

In [171]:
zopa_data.head()

    Rate  Available
1  0.081        320
2  0.081        320
3  0.081        320
4  0.104        170
5  0.104        170

In [172]:
zopa_data.shape

(6, 2)

In [171]:
zopa_data.head()

    Rate  Available
1  0.081        320
2  0.081        320
3  0.081        320
4  0.104        170
5  0.104        170

In [160]:
zopa_data = zopa_data[1:]

In [173]:
zopa_data["Rate"] = zopa_data["Rate"].astype(float)
zopa_data["Available"] = zopa_data["Available"].astype(int)

In [174]:
zopa_data = zopa_data.sort_values(by = "Rate", ascending = True)

In [175]:
zopa_data = zopa_data.reset_index()

In [176]:
zopa_data = zopa_data.drop("index", axis = 1)

In [118]:
zopa_data = zopa_data.drop("Lender", axis = 1)

In [177]:
zopa_data.head()

    Rate  Available
0  0.081        320
1  0.081        320
2  0.081        320
3  0.104        170
4  0.104        170

In [187]:
def loan_rate(n, refill):
    amount_asked = n
    rate_final = 0
    amount_lent = 0
    amount_left_to_give = amount_asked
    index_ = 0
    amount_remaining = 0
    
    
    if n > 15000 or n < 1000:
        return "Please enter a valid amount."
    if n > sum(zopa_data["Available"]):
        return "We are not able to provide that amount."
    if n % 100 != 0:
        return "Please enter a valid amount."
    
    for rate, available in zip(zopa_data["Rate"], zopa_data["Available"]):
    
        if amount_left_to_give == 0:
            print("""Requested amount: {reqamount}
                Rate: {rate_}%
                Monthly repayment: {monthly}
                Total repayment: {totalrep}""".format(reqamount = amount_asked, 
                                                          rate_ = round(rate_final * 100, ndigits = 1),
                                                         monthly =  round(amount_asked * ((1+rate_final)/36), ndigits = 2),
                                                    totalrep = round(amount_asked * (1+rate_final), ndigits = 2)))
            break
        
        elif amount_left_to_give < int(available):
            rate_final += (float(rate) * (int(amount_left_to_give)/ amount_asked))
            amount_remaining = int(available) - amount_left_to_give
            amount_lent += amount_left_to_give
            amount_left_to_give -= amount_left_to_give
            index_ += 1

        elif amount_left_to_give > int(available):
            rate_final += (float(rate) * (int(available)/ amount_asked))
            amount_lent += int(available)
            amount_left_to_give -= int(available)
            index_ += 1
            
    index_ = index_ - 1
    zopa_data_new = zopa_data[index_:]
    zopa_data_new["Available"][1] = amount_remaining
    
    if refill == True:

        data_available = np.random.randint(100,1000,size=100)
        df_available = pd.DataFrame(data_available, columns=['Available'])

        data_rate = np.random.uniform(0.05, 0.2,size=100)
        df_rate = pd.DataFrame(data_rate, columns=['Rate'])
        df_rate = df_rate.round(decimals = 2)

        df = pd.concat([df_rate, df_available], axis=1)

        frames = [df, zopa_data_new]
        zopa_data_new = pd.concat(frames)
    
    zopa_data_new.to_csv("../Data/ZopaData.csv")

In [188]:
loan_rate(1000, True)

Requested amount: 1000
                Rate: 8.2%
                Monthly repayment: 30.05
                Total repayment: 1081.92

<ipython-input-187-6e5fbffa5388>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zopa_data_new["Available"][1] = amount_remaining
<ipython-input-188-3631db7f7acb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_rate(1000, True)

In [ ]:
##zopa_data_new.to_csv("../Data/ZopaData.csv")

In [ ]:
zopa_data_new = zopa_data[1:]          ## en vez de 1 hay que poner index_1 - 1
zopa_data_new["Available"][1] = 460    ## en vez de 460 hay que poner ampunt_remaining