In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
from ToolsLoanCalculator import LoanCalculator

In [3]:
zopa_data = pd.read_csv("../Data/Zopa_Data.csv")

In [6]:
LoanCalculator.print_shape(zopa_data)

(22, 1)

In [7]:
zopa_data.head()

  Market Data for Technical exercise:;;
0                 Lender;Rate;Available
1                         Bob;0.075;640
2                        Jane;0.069;480
3                        Fred;0.071;520
4                        Mary;0.104;170

In [8]:
LoanCalculator.test(9)

This is the number: 9

18