In [2]:
import sys
sys.path.append('..')

In [3]:
import pandas as pd
from ToolsLoanCalculator import LoanCalculator

In [4]:
zopa_data = pd.read_csv("../Data/ZopaData.csv")

In [5]:
LoanCalculator.print_shape(zopa_data)

(22, 3)

In [6]:
zopa_data.head()

  ﻿Market Data for Technical exercise: Unnamed: 1 Unnamed: 2
0                               Lender       Rate  Available
1                                  Bob      0.075        640
2                                 Jane      0.069        480
3                                 Fred      0.071        520
4                                 Mary      0.104        170

In [7]:
zopa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ﻿Market Data for Technical exercise:  22 non-null     object
 1   Unnamed: 1                            22 non-null     object
 2   Unnamed: 2                            22 non-null     object
dtypes: object(3)
memory usage: 656.0+ bytes

In [8]:
LoanCalculator.test(9)

This is the number: 9

18

In [9]:
zopa_data = zopa_data.rename(columns=zopa_data.iloc[0])
zopa_data = zopa_data[1:]

In [20]:
type(zopa_data)

pandas.core.frame.DataFrame

In [10]:
zopa_data.head()

  Lender   Rate Available
1    Bob  0.075       640
2   Jane  0.069       480
3   Fred  0.071       520
4   Mary  0.104       170
5   John  0.081       320

In [32]:
zopa_data["Rate"].astype(float)

1     0.075
2     0.069
3     0.071
4     0.104
5     0.081
6     0.074
7     0.071
8     0.075
9     0.069
10    0.071
11    0.104
12    0.081
13    0.074
14    0.071
15    0.075
16    0.069
17    0.071
18    0.104
19    0.081
20    0.074
21    0.071
Name: Rate, dtype: float64

In [36]:
zopa_data["Available"].astype(int)

1     640
2     480
3     520
4     170
5     320
6     140
7      60
8     640
9     480
10    520
11    170
12    320
13    140
14     60
15    640
16    480
17    520
18    170
19    320
20    140
21     60
Name: Available, dtype: int64

In [33]:
zopa_data["Rate"].unique()

array(['0.075', '0.069', '0.071', '0.104', '0.081', '0.074'], dtype=object)

## Coger los intereses mas bajos##

In [40]:
amount_rate = []
amount_lent = 0
rate_lent = zopa_data["Rate"][1]
for element in zopa_data["Rate"]:
    if rate_lent > element:
        rate_lent = element

In [38]:
rate_lent

'0.069'

In [ ]:
amount_rate = []
lent = 0
rate_lent = zopa_data["Rate"][1]
for element in zopa_data:
    if rate_lent > zopa_data["Rate"]:
        rate_lent = element
        lent =

In [64]:
zopa_lista = zopa_data.values.tolist()

In [68]:
zopa_lista

[['Bob', '0.075', '640'],
 ['Jane', '0.069', '480'],
 ['Fred', '0.071', '520'],
 ['Mary', '0.104', '170'],
 ['John', '0.081', '320'],
 ['Dave', '0.074', '140'],
 ['Angela', '0.071', '60'],
 ['Bob', '0.075', '640'],
 ['Jane', '0.069', '480'],
 ['Fred', '0.071', '520'],
 ['Mary', '0.104', '170'],
 ['John', '0.081', '320'],
 ['Dave', '0.074', '140'],
 ['Angela', '0.071', '60'],
 ['Bob', '0.075', '640'],
 ['Jane', '0.069', '480'],
 ['Fred', '0.071', '520'],
 ['Mary', '0.104', '170'],
 ['John', '0.081', '320'],
 ['Dave', '0.074', '140'],
 ['Angela', '0.071', '60']]

In [70]:
zopa_lista_floats = float(zopa_lista)

TypeError: float() argument must be a string or a number, not 'list'

In [66]:
amount_rate_2 = []
lent_2 = 0
rate_lent_2 = zopa_lista[0][2]
for row in zopa_lista:
    rate = row[2]
    amount = row[1]
    if rate_lent_2 > rate:
        rate_lent = rate
        lent_2 = amount
        amount_rate_2[amount] = rate_lent

TypeError: list indices must be integers or slices, not str