In [ ]:
import sys
sys.path.append('..')

import pandas as pd
from ToolsLoanCalculator import LoanCalculator

zopa_data = pd.read_csv("../Data/ZopaData.csv")

zopa_data = zopa_data.drop(columns = "Unnamed: 0")
zopa_data = zopa_data.sort_values(by = "Rate", ascending = True)
zopa_data = zopa_data.reset_index()
zopa_data = zopa_data.drop("index", axis = 1)
zopa_data = zopa_data.drop("level_0", axis = 1)

In [68]:
import sys
sys.path.append('..')

In [69]:
import pandas as pd
from ToolsLoanCalculator import LoanCalculator

In [70]:
zopa_data = pd.read_csv("../Data/ZopaData.csv")

In [72]:
zopa_data = zopa_data.drop(columns = "Unnamed: 0")

In [73]:
zopa_data.head(2)

   Rate  Available
0  0.11        553
1  0.12        945

In [77]:
zopa_data = zopa_data.sort_values(by = "Rate", ascending = True)
zopa_data = zopa_data.reset_index()
zopa_data = zopa_data.drop("index", axis = 1)

In [78]:
zopa_data.head(2)

   level_0  Rate  Available
0        0  0.05        994
1        1  0.05        792

In [79]:
zopa_data = zopa_data.sort_values(by = "Rate", ascending = True)
zopa_data = zopa_data.reset_index()
zopa_data = zopa_data.drop("index", axis = 1)
zopa_data = zopa_data.drop("level_0", axis = 1)
zopa_data.head()

   Rate  Available
0  0.05        994
1  0.05        792
2  0.05        803
3  0.06        865
4  0.06        747

In [66]:
def loan_rate(n, refill):
    amount_asked = n
    rate_final = 0
    amount_lent = 0
    amount_left_to_give = amount_asked
    index_ = 0
    amount_remaining = 0
    
    
    if n > 15000 or n < 1000:
        return "Please enter a valid amount."
    if n > sum(zopa_data["Available"]):
        return "We are not able to provide that amount."
    if n % 100 != 0:
        return "Please enter a valid amount."
    
    for rate, available in zip(zopa_data["Rate"], zopa_data["Available"]):
    
        if amount_left_to_give == 0:
            print("""Requested amount: {reqamount}
                Rate: {rate_}%
                Monthly repayment: {monthly}
                Total repayment: {totalrep}""".format(reqamount = amount_asked, 
                                                          rate_ = round(rate_final * 100, ndigits = 1),
                                                         monthly =  round(amount_asked * ((1+rate_final)/36), ndigits = 2),
                                                    totalrep = round(amount_asked * (1+rate_final), ndigits = 2)))
            break
        
        elif amount_left_to_give < int(available):
            rate_final += (float(rate) * (int(amount_left_to_give)/ amount_asked))
            amount_remaining = int(available) - amount_left_to_give
            amount_lent += amount_left_to_give
            amount_left_to_give -= amount_left_to_give
            index_ += 1

        elif amount_left_to_give > int(available):
            rate_final += (float(rate) * (int(available)/ amount_asked))
            amount_lent += int(available)
            amount_left_to_give -= int(available)
            index_ += 1
            
    index_ = index_ - 1
    zopa_data_new = zopa_data[index_:]
    zopa_data_new["Available"][1] = amount_remaining
    
    if refill == True:

        data_available = np.random.randint(100,1000,size=100)
        df_available = pd.DataFrame(data_available, columns=['Available'])

        data_rate = np.random.uniform(0.05, 0.2,size=100)
        df_rate = pd.DataFrame(data_rate, columns=['Rate'])
        df_rate = df_rate.round(decimals = 2)

        df = pd.concat([df_rate, df_available], axis=1)

        frames = [df, zopa_data_new]
        zopa_data_new = pd.concat(frames)
    
    zopa_data_new.to_csv("../Data/ZopaData.csv")

In [67]:
loan_rate(1000, True)

Requested amount: 1000
                Rate: 6.0%
                Monthly repayment: 29.44
                Total repayment: 1060.0

<ipython-input-66-8662208e1856>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zopa_data_new["Available"][1] = amount_remaining
<ipython-input-67-3631db7f7acb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_rate(1000, True)

In [ ]:
 # In the following loop, rate_lender is the rate of each lender.
    # In the following loop, available_lender is the amount available of each lender.
    for rate_lender, available_lender in zip(zopa_data["Rate"], zopa_data["Available"]):
        if amount_left_to_lend == 0:
            print("""
                Requested amount: {reqamount}
                Rate: {rate_}%
                Monthly repayment: {monthly}
                Total repayment: {totalrep}""".format(
                    reqamount = amount_asked,
                    rate_ = round(rate_final * 100, ndigits = 1),
                    monthly =  round(amount_asked * ((1+rate_final)/36), ndigits = 2),
                    totalrep = round(amount_asked * (1+rate_final), ndigits = 2))
                    )
            break

In [ ]:
# In the following loop, rate_lender is the rate of each lender.
    # In the following loop, available_lender is the amount available of each lender.
    for rate_lender, available_lender in zip(zopa_data["Rate"], zopa_data["Available"]):
        if amount_left_to_lend == 0:
            print("""
                Requested amount: {reqamount}
                Rate: {rate_}%
                Monthly repayment: {monthly}
                Total repayment: {totalrep}""".format(
                    reqamount,
                    rate_,
                    monthly,
                    totalrep
                    )
              break