In [20]:
import sys
sys.path.append('..')

In [21]:
import pandas as pd
from ToolsLoanCalculator import LoanCalculator

In [22]:
zopa_data = pd.read_csv("../Data/ZopaData.csv")

In [23]:
LoanCalculator.test(9)

This is the number: 9

18

In [24]:
zopa_data = zopa_data.rename(columns=zopa_data.iloc[0])

In [25]:
zopa_data.head()

   Lender   Rate  Available
0  Lender   Rate  Available
1     Bob  0.075        640
2    Jane  0.069        480
3    Fred  0.071        520
4    Mary  0.104        170

In [26]:
zopa_data = zopa_data[1:]

In [27]:
zopa_data["Rate"].astype(float)
zopa_data["Available"].astype(int)

1     640
2     480
3     520
4     170
5     320
6     140
7      60
8     640
9     480
10    520
11    170
12    320
13    140
14     60
15    640
16    480
17    520
18    170
19    320
20    140
21     60
Name: Available, dtype: int64

In [28]:
zopa_data.head()

  Lender   Rate Available
1    Bob  0.075       640
2   Jane  0.069       480
3   Fred  0.071       520
4   Mary  0.104       170
5   John  0.081       320

In [29]:
zopa_data = zopa_data.sort_values(by = "Rate", ascending = True)

In [30]:
zopa_data.head()

    Lender   Rate Available
2     Jane  0.069       480
16    Jane  0.069       480
9     Jane  0.069       480
21  Angela  0.071        60
3     Fred  0.071       520

In [31]:
zopa_data = zopa_data.reset_index()

In [32]:
zopa_data.head()

   index  Lender   Rate Available
0      2    Jane  0.069       480
1     16    Jane  0.069       480
2      9    Jane  0.069       480
3     21  Angela  0.071        60
4      3    Fred  0.071       520

In [33]:
zopa_data = zopa_data.drop("index", axis = 1)

In [34]:
zopa_data.head()

   Lender   Rate Available
0    Jane  0.069       480
1    Jane  0.069       480
2    Jane  0.069       480
3  Angela  0.071        60
4    Fred  0.071       520

In [35]:
zopa_data = zopa_data.drop("Lender", axis = 1)

In [41]:
zopa_data.head()

    Rate Available
0  0.069       480
1  0.069       480
2  0.069       480
3  0.071        60
4  0.071       520

In [80]:
amount_asked = 2000
rate_final = 0
amount_lent = 0
amount_left_to_give = amount_asked
index_ = 0
amount_remaining = 0

for rate, available in zip(zopa_data["Rate"], zopa_data["Available"]):
    
    if amount_left_to_give == 0:
        print("Requested amount: ", amount_asked)
        print("Rate: ", round(rate_final * 100, ndigits = 1), "%")
        print("Monthly repayment: ", round(amount_asked * ((1+rate_final)/36), ndigits = 2))
        print("Total repayment: ", round(amount_asked * (1+rate_final), ndigits = 2))
        print(index_, amount_remaining)
        
        break
    
    elif amount_left_to_give < int(available):
        rate_final += (float(rate) * (int(amount_left_to_give)/ amount_asked))
        amount_remaining = int(available) - amount_left_to_give
        amount_lent += amount_left_to_give
        amount_left_to_give -= amount_left_to_give
        index_ += 1
    
    elif amount_left_to_give > int(available):
        rate_final += (float(rate) * (int(available)/ amount_asked))
        amount_lent += int(available)
        amount_left_to_give -= int(available)
        index_ += 1

Requested amount:  2000
Rate:  7.0 %
Monthly repayment:  59.42
Total repayment:  2139.16
6 60

In [78]:
zopa_data_new = zopa_data[1:]          ## en vez de 1 hay que poner index_1 - 1
zopa_data_new["Available"][1] = 460    ## en vez de 460 hay que poner ampunt_remaining

/Users/brauliodelacalle/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [79]:
zopa_data_new.head()

    Rate Available
1  0.069       460
2  0.069       480
3  0.071        60
4  0.071       520
5  0.071       520