In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
from ToolsLoanCalculator import LoanCalculator

In [3]:
zopa_data = pd.read_csv("../Data/ZopaData.csv")

In [4]:
zopa_data.head()

   Unnamed: 0  Rate  Available
0           0  0.11        553
1           1  0.12        945
2           2  0.07        159
3           3  0.16        944
4           4  0.07        757